@font-face {
  font-family: Catamaran;
  src: url('../fonts/Catamaran-VariableFont_wght.ttf') format('truetype');
}

.color {
	color: #bf8f24;

}
.heading {
position: relative;
top: 20%;
text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.main-logo {
   width:50%;
}

.heading h3 {
	font-size: 48px;
    font-weight: 400;
    margin: 6px 0 20px;
    color: #FFF;
}

.heading p {
	    color: #fff;
    font-size: 20px;
    font-weight: 350;
    line-height: 1.4em;
}

.heading p:before {
	right: 20px;
}

.heading p:after {
	left: 20px;
}

.heading p:before, .heading p:after {
    color: #bf8f24;
    content: "___";
    position: relative;

    top: -8px;
}

.heading div > span {
    font-weight: 600;
    display: block;
}


.knowmore {
    font-size: 18px;
    padding: 15px;
    background-color: #bf8f24;
    border-radius: 5px;
    margin-top: 5%;
    line-height: 1.4em;
    color: #FFF;
}

.knowmore a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    color: #FFF;
}

.knowmore a:focus, a:hover {
    text-decoration: underline;
    outline: 0;
    cursor: pointer;
    color: #FFF;
}

.separator {
	width: 100%;
	background-color: #343434;
	height: 5px;
}

.gold-gb {
	background-color: #bf8f24;
}

.marble-bg {
	background-image: url(../img/gold-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.double-quotes {
	z-index: 999;
  	position: relative;
  	padding: 20px;
  	margin: 20px;

}

.double-quotes p {
  	z-index: 1;
    position: relative;
}

.double-quotes:before {
	color: #FFF;	
	content: '“';
	position: absolute;
	font-size: 250px;
	opacity: 0.3;
	font-family: "Catamaran";
	top: -70px;
	left: 0;
}

.double-quotes:after {
	color: #FFF;
	bottom: -70px;
	right: 0;
	content: '„';
	position: absolute;
	font-size: 250px;
	opacity: 0.3;
	font-family: "Catamaran";
}

.descr-texte {
	text-align: center;
	font-size: 1.45vmax;
	line-height: 1.2em;
	font-style: italic;
	color: #FFF;
}

.copyright {
color: #FFF;
padding-top: 20px;
}

.footer {
	padding: 50px 0 20px 0;
	color: #FFF;
}


#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}


@media only screen and (max-width: 767px) {
	.heading {
	position: relative;
	padding:0 10px 0 10px;
	}

	.main-logo {
	    width: 100%;
	}

	.heading h3 {
		font-size: 22px;
	    font-weight: 400;
	    margin: 6px 0 20px;
	    color: #FFF;
	}

	.heading p {
		    color: #fff;
	    font-size: 20px;
	    font-weight: 350;
	    line-height: 1.4em;
	}

	.heading p:before {
		right: 20px;
	}

	.heading p:after {
		left: 20px;
	}

	.heading p:before, .heading p:after {
	    color: #bf8f24;
	    content: "___";
	    position: relative;

	    top: -8px;
	}

.double-quotes {
  	padding: 15px;
  	margin: 10px;

}

}